/* fonts */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	src: local('Inter'),
		url('/assets/fonts/Inter/Inter-Light.woff') format('woff'),
		url('/assets/fonts/Inter/Inter-Light.ttf') format('ttf');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: normal;
	src: local('Inter'),
		url('/assets/fonts/Inter/Inter-Regular.ttf') format('woff'),
		url('/assets/fonts/Inter/Inter-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: local('Inter'),
		url('/assets/fonts/Inter/Inter-SemiBold.ttf') format('woff'),
		url('/assets/fonts/Inter/Inter-SemiBold.ttf') format('ttf');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: local('Inter'),
		url('/assets/fonts/Inter/Inter-Bold.ttf') format('woff'),
		url('/assets/fonts/Inter/Inter-Bold.ttf') format('ttf');
}

@font-face {
	font-family: 'Inika';
	font-style: normal;
	font-weight: normal;
	src: local('Inika'),
		url('/assets/fonts/Inika/Inika-Regular.woff') format('woff'),
		url('/assets/fonts/Inika/Inika-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Inika';
	font-style: normal;
	font-weight: bold;
	src: local('Inika'),
		url('/assets/fonts/Inika/Inika-Bold.woff') format('woff'),
		url('/assets/fonts/Inika/Inika-Bold.ttf') format('ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: normal;
	src: local('Roboto'),
		url('/assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
		url('/assets/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
}
/* fonts - end */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: #EDF2EC;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 109px;
}

.white-section {
	background-color: #FFFFFF;
}

.btn {
	display: block;
	padding: 10px 23px;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	background-color: transparent;
	border: 2px solid #E06733;
	border-radius: 10px;
	transition: all .3s linear;
}

.btn:hover {
	cursor: pointer;
	background-color: #E06733;
	color: #FFFFFF;
}

.green-text {
	color: #499A18;
}

.yellow-text {
	color: #E06733;
}

.header__wrap {
	padding: 42px 109px 42px 111px;
	display: flex;
	justify-content: space-between;
}

.header__logo {
	margin-top: 10px;
}

.logo {
	position: relative;
	display: flex;
	height: 21px;
	padding-left: 21px;
}

.logo__title {
	align-self: flex-end;
	font-family: 'Inika';
	font-weight: normal;
	font-size: 16px;
	color: #000000;
	line-height: 13px;
	letter-spacing: 1.07px;
}

.logo::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background: url('/assets/images/svg/logo.svg') no-repeat center;
}

.nav__list {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.nav__item {
	margin-right: 46px;
	font-family: 'Inika';
	font-weight: 700;
	font-size: 16px;
	line-height: 50px;
	color: #010201;
	letter-spacing: 0.57px;
}

.nav__item:last-child {
	margin-right: 0;
}

.nav__item:hover {
	cursor: pointer;
	color: #E06733;
}

.welcome__wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 62px 0;
}

.welcome__img {
	width: 448.8px;
	height: 407.36px;
}

.welcome__info {
	max-width: 549px;
	display: flex;
	flex-direction: column;
	padding-top: 36px;
}

.welcome__title {
	margin-bottom: 42px;
	font-family: 'Inter';
	font-weight: 700;
	font-size: 45px;
	line-height: 50px;
	color: #717171;
}

.welcome__desc {
	margin-bottom: 48px;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: #636060;
}

.welcome__btn {
	max-width: 158px;
	text-transform: uppercase;
}

.about__wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 93px 0 94px;
}

.about__img {
	width: 464px;
	height: 479px;
}

.about__info {
	max-width: 605px;
	display: flex;
	flex-direction: column;
	padding-top: 68px;
}

.about__title {
	max-width: 463px;
	margin-bottom: 40px;
	font-family: 'Inika';
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	color: #499A18;
	letter-spacing: 3.15px;
}

.about__desc {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #636060;
}

.service {
	padding: 40px 0 121px;
}

.service__header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	column-gap: 142px;
	align-items: center;
	margin-bottom: 90px;
}

.service__title {
	max-width: 306px;
	font-family: 'Inika';
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	color: #499A18;
}

.service__tabs {
	list-style: none;
	max-width: 559px;
	max-height: 50px;
	display: flex;
	justify-content: space-between;
	gap: 78px;
}

.service__tabs-item {
	padding: 10px 38px;
	font-family: 'Inika';
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #E06733;
	border: 1px solid #E06733;
	border-radius: 5px;
	transition: all .3s linear;
}

.service__tabs-item:hover {
	cursor: pointer;
	background-color: #E06733;
	color: #FFFFFF;
}

.service__cards {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 55px 115px;
}

.service__card {
	width: 330px;
	height: 450px;
	overflow: hidden;
	transition: all .3s linear;
}

.service__card:hover {
	cursor: pointer;
	filter: blur(2px);
}

.service__card-info {
	width: 330px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding-top: 10px;
	border: 1px solid #E3E1D5;
	border-radius: 0px 0px 20px 20px;
}

.service__card-img {
	display: block;
	width: 330px;
	height: 350px;
	object-fit: cover;
	border-radius: 20px 20px 0px 0px;
}

.service__card-title {
	font-family: 'Inter';
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #E06733;
}

.service__card-desc {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #717171;
}

.prices {
	padding: 35px 0 115px;
	background-color: #FFFFFF;
}

.prices__wrap {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.prices__title {
	font-family: 'Inter';
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: #000000;
}

.prices__content-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.prices__desc {
	max-width: 452px;
	margin-bottom: 38px;
	font-family: 'Inter';
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	text-align: right;
	color: #000000;
}

.prices__btn {
	padding: 11px 33px;
	margin-bottom: 39px;
	font-family: 'Inika';
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #E06733;
	border: 1px solid #E06733;
	border-radius: 5px;
}

.prices__img {
	width: 152px;
	height: 175px;
	object-fit: contain;
}